<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbank.backend.mapper.DongMapper">
    <select id="findAll" resultType="com.kbank.backend.domain.address.Dong">
        SELECT * from dong_tb
    </select>

    <insert id="save">
        INSERT INTO dong_tb (dong_gu_fk, dong_nm)
        VALUES (#{gu}, #{name})
    </insert>

    <select id="findSiById" parameterType="long" resultType="com.kbank.backend.domain.address.Si">
        SELECT s.si_pk, s.si_nm
        FROM dong_tb as d
        INNER JOIN gu_tb as g on g.gu_pk = d.dong_gu_fk
        INNER JOIN si_tb as s on s.si_pk = g.gu_si_fk
        WHERE d.dong_pk = #{id}
    </select>

    <select id="findSiByName" parameterType="string" resultType="com.kbank.backend.domain.address.Si">
        SELECT s.si_pk, s.si_nm
        FROM dong_tb as d
        INNER JOIN gu_tb as g on g.gu_pk = d.dong_gu_fk
        INNER JOIN si_tb as s on s.si_pk = g.gu_si_fk
        WHERE d.dong_nm = #{name}
    </select>

    <select id="findGuById" parameterType="long" resultType="com.kbank.backend.domain.address.Gu">
        SELECT g.gu_pk, g.gu_si_fk, gu_nm
        FROM dong_tb as d
        INNER JOIN gu_tb as g on g.gu_pk = d.dong_gu_fk
        WHERE d.dong_pk = #{id}
    </select>

    <select id="findGuByName" parameterType="string" resultType="com.kbank.backend.domain.address.Gu">
        SELECT g.gu_pk, g.gu_si_fk, g.gu_nm
        FROM dong_tb as d
        INNER JOIN gu_tb as g on g.gu_pk = d.dong_gu_fk
        WHERE d.dong_nm = #{name}
    </select>

    <select id="findById" resultType="com.kbank.backend.domain.address.Dong">
        SELECT *
        FROM dong_tb
        WHERE dong_pk = #{id}
    </select>

    <select id="findByName" resultType="com.kbank.backend.domain.address.Dong">
        SELECT *
        FROM dong_tb
        WHERE dong_nm = #{name}
    </select>

</mapper>