<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbank.backend.mapper.GuMapper">

    <select id="findAll" resultType="com.kbank.backend.domain.address.Gu">
        SELECT * from gu_tb
    </select>

    <select id="findById" resultType="com.kbank.backend.domain.address.Gu">
        SELECT gu_pk, gu_si_fk, gu_nm from gu_tb where gu_pk = #{pk}
    </select>

    <select id="findByName" resultType="com.kbank.backend.domain.address.Gu">
        SELECT gu_pk, gu_si_fk, gu_nm from gu_tb where gu_nm = #{name}
    </select>


    <select id="findSiById" parameterType="long" resultType="com.kbank.backend.domain.address.Si">
        SELECT s.si_pk, s.si_nm
        FROM gu_tb as g LEFT JOIN si_tb as s ON g.gu_si_fk = s.si_pk
        WHERE g.gu_pk = #{id}
    </select>

    <select id="findSiByName" parameterType="string" resultType="com.kbank.backend.domain.address.Si">
        SELECT s.si_pk, s.si_nm
        FROM gu_tb as g LEFT JOIN si_tb as s ON g.gu_si_fk = s.si_pk
        WHERE g.gu_nm = #{name}
    </select>

    <select id="findAllDongByGu" parameterType="long" resultType="com.kbank.backend.domain.address.Dong">
        SELECT d.dong_pk, d.dong_gu_fk, d.dong_nm
        FROM gu_tb as g INNER JOIN dong_tb as d ON g.gu_pk = d.dong_gu_fk
        WHERE gu_pk = #{id}
    </select>

    <select id="findAllDongByGuName" parameterType="string" resultType="com.kbank.backend.domain.address.Dong">
        SELECT d.dong_pk, d.dong_gu_fk, d.dong_nm
        FROM gu_tb as g INNER JOIN dong_tb as d ON g.gu_pk = d.dong_gu_fk
        WHERE gu_nm = #{name}
    </select>


</mapper>