<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbank.backend.domain.address.gu.repository.GuMapper">
    <resultMap id="GuResultMap" type="com.kbank.backend.domain.address.gu.Gu">
        <result property="guPk" column="gu_pk"/>
        <result property="guSiFk" column="gu_si_fk"/>
        <result property="guNm" column="gu_nm"/>
    </resultMap>

    <select id="findAll" resultMap="GuResultMap">
        SELECT * from gu_tb
    </select>

    <select id="findById" resultMap="GuResultMap">
        SELECT gu_pk, gu_si_fk, gu_nm from gu_tb where gu_pk = #{pk}
    </select>

    <select id="findByName" resultMap="GuResultMap">
        SELECT gu_pk, gu_si_fk, gu_nm from gu_tb where gu_nm = #{name}
    </select>

    <insert id="save" parameterType="com.kbank.backend.domain.address.gu.entity.Gu">
        INSERT INTO gu_tb (gu_si_fk, gu_nm) VALUES (#{Si}, #{name})
    </insert>

    <delete id="delete" >
        DELETE from gu_tb where gu_pk = #{pk}
    </delete>


</mapper>