<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbank.backend.mapper.SiMapper">

    <select id="findAllGuBySi" resultType="com.kbank.backend.domain.address.Gu">
        SELECT g.gu_pk, g.gu_si_fk, g.gu_nm
        FROM si_tb as s INNER JOIN gu_tb as g ON s.si_pk = g.gu_si_fk
        WHERE si_pk = #{id}
    </select>

    <select id="findAllGuBySiName" resultType="com.kbank.backend.domain.address.Gu">
        SELECT g.gu_pk, g.gu_si_fk, g.gu_nm
        FROM si_tb as s INNER JOIN gu_tb as g ON s.si_pk = g.gu_si_fk
        WHERE si_nm = #{name}
    </select>

    <select id="findAll" resultType="com.kbank.backend.domain.address.Si">
        SELECT * from si_tb
    </select>

    <select id="findByName" parameterType="string" resultType="com.kbank.backend.domain.address.Si">
        SELECT si_pk, si_nm from si_tb where si_nm = #{name}
    </select>

    <select id="findById" resultType="com.kbank.backend.domain.address.Si">
        SELECT si_pk, si_nm from si_tb where si_pk = #{id}
    </select>


</mapper>